<form action="/users/save" method="post">

    {{#user}}

    <input type="hidden" value="{{iduser}}" name="iduser">
    <div class="form-group">
        <label for="NameText" class="col-2 col-form-label">Nome</label>
        <input class="form-control" name="name" type="text" placeholder="Enter a new name" value="{{name}}" id="NameText">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1" class="col-2 col-form-label">E-mail</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{email}}"
               placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="LoginText" class="col-2 col-form-label">Login</label>
        <input class="form-control" type="text" name="login" placeholder="Enter a new login" value="{{login}}" id="LoginText">
        <small id="loginHelp" class="form-text text-muted">We'll never share your login with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="passwordText" class="col-2 col-form-label">Password</label>
        <input type="password" class="form-control" name="password" id="passwordText" placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="telText" class="col-2 col-form-label">Telefone</label>
        <input class="form-control" type="tel" name="phone" placeholder="(99) 9 9999-9999" value="{{phone}}" id="telText">

    </div>

    {{/user}}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>